.login_container {
    -fx-background-color: #1e1e1e; /* Dark background */
}

.login_logo_container {
    -fx-background-color: #2a2a2a; /* Darker gray header */
    -fx-padding: 11px;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.login_logo_container FontAwesomeIconView {
    -fx-fill: black; /* Subtle icon color */
}

#btnLogin {
    -fx-background-color: #3a3a3a; /* Dark gray button */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

#btnLogin:pressed {
    -fx-background-color: #5a5a5a; /* Slightly lighter gray for pressed effect */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.0, 0, 1);
}

TextField, PasswordField {
    -fx-border-color: #4a4a4a; /* Subtle border */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5px;
    -fx-font-family: "Monospaced";
    -fx-text-fill: white;
    -fx-background-color: #2a2a2a; /* Dark input fields */
}

Label {
    -fx-font-family: "Arial";
    -fx-text-fill: #dddddd; /* Light text for readability */
}

#lblError {
    -fx-text-fill: #e42222;
}

CheckBox {
    -fx-text-fill: #dddddd;
}

Button:hover {
    -fx-background-color: #5a5a5a; /* Lighter gray hover */
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #707070; /* Subtle contrast */
}

#pwdPassword, #txtVisiblePassword {
    -fx-font-size: 13px;
    -fx-padding: 5 30 5 5;
}

.icon {
    -fx-fill: white;
    -fx-opacity: 0.7;
}

#btnVisible {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#progressBar {
    -fx-accent: #5a5a5a; /* Matches the overall theme */
    -fx-background-color: #444; /* Dark background */
    -fx-border-color: #666; /* Softer border */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-height: 12px; /* Slim progress bar */
}
